/* Skelly Game Demo */

body{
	background: #1e335c;	
    padding-top: 100px;
}

#game-wrapper {
	background: #d4dbfa;
	width: 1000px;
	height: 600px;
	margin: 150px auto 0 auto;
}

#game-canvas {
	background: none;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
}